
body {
  background-image: url('./pic/image\ 8.jpg');
  width: 1440px;
  height: 856;
    background-repeat: no-repeat;
    background-size: cover;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #eeeaea;
}
